<h1> My Tasks </h1>

<ul class="list">
  <% @tasks.each do |task| %>
    <li>
      <div class = "list-item">
        <% if task.completed %>
          <i class="far fa-check-square"></i>
        <% else %>
          <i class="far fa-square"></i>
        <% end %>
        <%= link_to task.title, task_path(task) %>
        <!-- we are still in the ruby loop so we can access the id through task -->
        <%= link_to task_path(task),
                    method: :delete,
                    data: {confirm: "Are you sure?"} do%>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to new_task_path do %>
  <div class="add-task">
    <img id='plus' src='data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjUxMnB0IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjUxMnB0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Im0yNTYgMGMtMTQxLjE2NDA2MiAwLTI1NiAxMTQuODM1OTM4LTI1NiAyNTZzMTE0LjgzNTkzOCAyNTYgMjU2IDI1NiAyNTYtMTE0LjgzNTkzOCAyNTYtMjU2LTExNC44MzU5MzgtMjU2LTI1Ni0yNTZ6bTExMiAyNzcuMzMyMDMxaC05MC42Njc5Njl2OTAuNjY3OTY5YzAgMTEuNzc3MzQ0LTkuNTU0Njg3IDIxLjMzMjAzMS0yMS4zMzIwMzEgMjEuMzMyMDMxcy0yMS4zMzIwMzEtOS41NTQ2ODctMjEuMzMyMDMxLTIxLjMzMjAzMXYtOTAuNjY3OTY5aC05MC42Njc5NjljLTExLjc3NzM0NCAwLTIxLjMzMjAzMS05LjU1NDY4Ny0yMS4zMzIwMzEtMjEuMzMyMDMxczkuNTU0Njg3LTIxLjMzMjAzMSAyMS4zMzIwMzEtMjEuMzMyMDMxaDkwLjY2Nzk2OXYtOTAuNjY3OTY5YzAtMTEuNzc3MzQ0IDkuNTU0Njg3LTIxLjMzMjAzMSAyMS4zMzIwMzEtMjEuMzMyMDMxczIxLjMzMjAzMSA5LjU1NDY4NyAyMS4zMzIwMzEgMjEuMzMyMDMxdjkwLjY2Nzk2OWg5MC42Njc5NjljMTEuNzc3MzQ0IDAgMjEuMzMyMDMxIDkuNTU0Njg3IDIxLjMzMjAzMSAyMS4zMzIwMzFzLTkuNTU0Njg3IDIxLjMzMjAzMS0yMS4zMzIwMzEgMjEuMzMyMDMxem0wIDAiLz48L3N2Zz4=' style='width: 20px;'/>
    <p> Add new task </p>
  </div>
<% end %>
